.ng-enter {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0;
}
.ng-enter-active {
    opacity: 1;
}
/*.ng-leave {
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
    opacity: .5;
}
.ng-leave-active {
    opacity: 0;
}*/

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #009688;

    padding-top: 20px;
}
.footer p {
    color: #eee;
}
.user-dropdown .gravatar {
    width: 32px;
    margin-right: 8px;
    margin-top: 0;
    margin-bottom: 0;
}
.user-dropdown .mdi-navigation-expand-more {
    vertical-align: middle;
    font-size: 16px;
    padding: 0 0 2px 2px;
}
#toast-container {
    top: 100px;
}
.detail-content {
    padding: 0px 0 0 40px;
}
.detail-placeholder {
    border-radius: 4px;
    padding: 22px 0 0 0px;
}
.list-selected-icon {
    padding-left: 0;
    width: 5%;
}
.shopping-list-edit-dropdown li i {
    font-size: 16px;
    margin-right: 4px;
}
.list-items-table {
    width: 100%;
}
.list-items-table .list-item {
    font-size: 16px;
}
.list-item-check-box i {
    font-size: 18px;
}
.checked-list-item {
    text-decoration: line-through;
    color: #999;
}
.delete-list-item {
    font-size: 20px;
    color: red;
    opacity: .75;
}
.delete-list-item:hover {
    opacity: 1;
}
.panel-title {
    font-size: 20px;
    line-height: 34px;
}
.main-content-panel {
    padding-bottom: 44px;
}