<div class="modal fade" id="deleteModal" ng-controller="ListDetailController">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="panel-body">
                <h3>Are you sure?</h3>
                <div class="modal-footer">
                    <div class="row text-center">
                        <button type="button" class="btn btn-danger" ng-click="deleteList(selectedList);">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

</script>