<div class="modal fade" id="postModal" ng-controller="CreateListController">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="panel panel-warning title">
                <div class="panel-heading title">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="panel-title">Create a List</h3>
                </div>
            </div>

            <div class="panel-body">
                <form ng-submit="createList(list)">
                    <input type="text" ng-model="list.title" class="form-control" placeholder="List Title" required/><br/>
                    <input type="text" ng-model="list.store" class="form-control" placeholder="Store" required/><br/>
                    <textarea type="text" ng-model="list.description" class="form-control" placeholder="Describe what this shopping list is for"></textarea><br/>

                    <input type="submit" value="Post" class="btn btn-warning"/>

                </form>
            </div>

        </div>
    </div>
</div>